div.consulting, p.consulting {
    font-family: Montserrat;

}

header.consulting {
    margin-bottom:25px
}

h1.consulting {
    margin-bottom: 5px;
}

.consulting > p {
    margin:0;

    margin-block-start: 1em;
    margin-block-end: 1em;
}

button {
    outline: none;
    /* border: 1px solid #ff7f80; */
    border: none;
    background: #00a48f;
    padding: 14px 23px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    margin-bottom: 10px;
}

.rate {

    font-size: 10px;
    color: #393939;
}

